html{
background-image: url("bg.jpg");
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
}

.container{
max-width: 1300px;
margin: auto;
padding-left: 25px;
padding-right: 25px;
}

.navbar{
display: flex;
align-items: center;
padding: 20px;
}

nav{
flex: 1;
text-align: right;
}

nav ul{
display: inline-block;
list-style-type: none;
}

nav ul li{
font-weight: bold;
display: inline-block;
}

.buttons{
background-color: saddlebrown;
border: none;
color: white;
padding: 5px 10px;
text-align: center;
text-decoration: none;
display: inline-block;
margin: 4px 4px;
cursor: pointer;
}

a:hover{
background-color:white;
color:black;
}

a:active{
background-color: blanchedalmond;
color:black;
}

hr{
border-bottom: 20px ridge black;
}

* {box-sizing: border-box}

input[type=text], input[type=password] {
width: 100%;
padding: 15px;
margin: 5px 0 22px 0;
display: inline-block;
background: white;
border: 1px solid black; 
border-radius: 4px; 
}

input[type=text]:focus, input[type=password]:focus {
background-color: #ddd;
outline: none;
}

.login hr {
border: 1px solid black;
margin-bottom: 25px;
}

button {
background-color: #4CAF50;
color: white;
padding: 14px 20px;
border: none;
cursor: pointer;
width: 100%;
}

.login {
padding: 16px;
background: papayawhip;
}

.clearfix::after {
content: "";
clear: both;
display: table;
}

@media screen and (max-width: 300px) {
.loginbtn {
    width: 100%;
}
}